name: Docker Image MariaDB
on:
  schedule:
    - cron: "0 6 1 * *" # 6 AM UTC on 1st day of month
  push:
    paths:
      - version
      - images/.trigger
      - images/mariadb/**
      - .github/workflows/*mariadb*

jobs:
  mariadb:
    name: MariaDB
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version:
          - "10.0"
          - "10.1"
          - "10.2"
          - "10.3"
          - "10.4"
          - "10.5"
          - "10.6"
          - "10.7"
          - "10.8"
          - "10.9"

    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ !env.ACT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ !env.ACT }}

      - uses: docker/build-push-action@v3
        with:
          context: images/mariadb
          platforms: linux/amd64,linux/arm64
          build-args: MARIADB_VERSION=${{ matrix.version }}
          push: ${{ github.ref == 'refs/heads/develop' && !env.ACT }}
          tags: ghcr.io/${{ github.actor }}/den-mariadb:${{ matrix.version }}
