name: Docker Image Varnish
on:
  schedule:
    - cron: "0 6 * * *" # 6 AM Daily
  push:
    paths:
      - version
      - images/.trigger
      - images/varnish/**
      - .github/workflows/*varnish*

jobs:
  varnish:
    name: Varnish
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version:
          - "6.0"
          - "6.5"
          - "6.6"
          - "7.0"
          - "7.1"

    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ !env.ACT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ !env.ACT }}

      - uses: docker/build-push-action@v3
        with:
          context: images/varnish
          platforms: linux/amd64,linux/arm64
          build-args: VARNISH_VERSION=${{ matrix.version }}
          push: ${{ github.ref == 'refs/heads/main' && !env.ACT }}
          tags: ghcr.io/${{ github.repository_owner }}/den-varnish:${{ matrix.version }}
